@source "node_modules/react-lib-tools";

@import "tailwindcss";
@import "react-lib-tools/styles.css";

:root {
  --template-gradient-color-1: var(--color-green-700);
  --template-gradient-color-2: var(--color-emerald-600);
  --template-gradient-color-3: var(--color-green-700);

  --template-focus-color-300: var(--color-green-200);
  --template-focus-color-400: var(--color-green-300);
  --template-focus-color-600: var(--color-green-500);
}
