@source "node_modules/react-lib-tools";

@import "tailwindcss";
@import "react-lib-tools/styles.css";

@theme {
  --color-background-gradient-1: var(--color-green-300);
  --color-background-gradient-2: var(--color-emerald-600);
  --color-background-gradient-3: var(--color-teal-400);

  --color-focus-1: var(--color-green-200);
  --color-focus-2: var(--color-green-300);
  --color-focus-3: var(--color-green-500);

  --color-nav-active: var(--color-emerald-300);
  --color-nav-hover: var(--color-green-200);
}
